# Python
__pycache__/
*.py[cod]
*.sqlite3

# Env & Secrets
.env
*.key
*.pem
*.crt

# OS
.DS_Store
Thumbs.db

# VSCode / IDE
.vscode/
.idea/

# Logs
*.log

# Flask
instance/
.env.*

# Translations cache
*.mo

# Compiled PDF & Excel
*.pdf
*.xlsx
*.xls

# Node (if present for frontend)
node_modules/
dist/
build/

# MacOS
*.DS_Store

# Render deploy
render.yaml
