# Flask
SECRET_KEY=your-secret-key
FLASK_ENV=development

# MongoDB
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/db_name

# Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# Email (Admin Reports)
ADMIN_EMAIL=your@email.com
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password

# i18n
DEFAULT_LANGUAGE=en
SUPPORTED_LANGUAGES=en,es,fr,de,ar
