{% extends "base.html" %}
{% block title %}تسجيل دخول{% endblock %}
{% block content %}
<h2>{{ t["تسجيل دخول"] }}</h2>
<form method="post">
  <div class="mb-3">
    <label for="username" class="form-label">{{ t["اسم المستخدم"] }}</label>
    <input type="text" class="form-control" id="username" name="username" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">{{ t["كلمة المرور"] }}</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  
<div class="g-recaptcha" data-sitekey="6LcUhlgrAAAAADX_3PVXxpma7eD8rGwADxwpMJ9s"></div>

<button type="submit" class="btn btn-primary">{{ t["دخول"] }}</button>
</form>
{% endblock %}
